/***Header***/
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2.3rem 8rem;
    background: #fff;
    position: fixed;
    width: 100%;
    z-index: 99;
}
.title-logo h1{
    font-weight: 700;
    font-size: 2.4rem;
    color: var(--second-text-color);
    margin: 0;
}
.cta-contact-primary a{
    border: 2px solid #EBEAED;
    border-radius: 100px;
    padding: 0.5rem 1rem;
    color: var(--second-text-color);
    font-size: 1.7rem;
    transition: all .3s ease-in-out;
}
.cta-contact-primary a:hover{
    background:#1E0E62;
    color:#fff;
    border-color: #1E0E62;
}

/*** SECTIONS ***/
.box-title{
    padding: 0 11rem;
    text-align: center;
}
.about-me{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5rem;
    align-items: center;
   
}
.about-me .box-info{
    padding-right: 3rem;  
}
.about-me .subtitle{
    margin-bottom: 4rem;
}
.about-me .cta-profile{display: flex;}
.about-me .cta-profile a{
    border-radius: 10rem;
    border: 1px solid;
    padding: 1rem 2rem;
    margin-right: 3rem;
}
.about-me .cta-profile a:nth-child(1){
    border-color: var(--mark-text-color);
}
.about-me .cta-profile a:nth-child(2){
    background: #fff;
    color: #000;
    border-color: #fff;
}
    
.about-me h2 span{
    color: var(--mark-text-color);
    position: relative;
    text-decoration: underline 4px;
}
.about-me .box-img{padding: 3rem;}
.about-me .box-img img{
    width: 90%;
    height: auto;
    border-radius: 10px;
    display: block;
}
.skill{
    text-align: center;
}
.skill p, .skill h2, .skill li{
    color: var(--second-text-color);
}
.skill .box-point{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 4rem 7rem;
    gap: 5rem;
}
.skill img{
    width: auto;
    max-width: 50px;
    margin: auto;
    display: block;
}
.skill .title{
    font-weight: 600;
    color: var(--second-text-color);
}
.skill .input-perc{
    margin-top: 1.5rem;
    position: relative;
    overflow: hidden;
}
.skill .point-skill{
    display: flex;
    flex-direction: column;
}
.skill .point-skill:nth-child(2) .input-perc,
.skill .point-skill:nth-child(3) .input-perc{
    border: 1px solid transparent;
    background: linear-gradient(45deg, #039be5, #0277bd);
    color: #fff;
    border-radius: 16px;
    cursor: pointer;
    user-select: none;
    padding: 0.6rem 0;
}
.skill .input-perc span:nth-child(2){
    width: 14%;
    position: absolute;
    height: 1000%;
    background: linear-gradient(275deg, #ffffff, #027ec400);
    left: -100%;
    top: -100px;
    transform: rotateZ(45deg);
    transition: all .6s;
}
.skill .input-active span:nth-child(2){
    left: 106%;
}
.skill h3, .skill .box-second h4{
    font-size: 2rem;
    color: var(--second-text-color)
}
.skill .box-second h4{
    font-size: 1.2em;
}
.skill .second-point{
    display: flex;
    justify-content: center;
}
.skill .second-point li{
    display: flex;
    align-items: center;
    margin: 1rem 0;
    gap: 1rem;
}
.skill .second-point span{
    text-align: left;
 }
.box-second{
    display: flex;
    justify-content: space-around;
}

.exp .box-preview-exp{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.5rem;
}
.exp .box-btn{
    margin: 3rem 0 4rem 0;
    display: flex;
    justify-content: center;
}
.exp .cta-exp{
    padding: 1rem 2rem;
    border-radius: 10rem;
    border: none;
    background: var(--mark-text-color);
    color: #000;
    font-size: 1.5rem;
    cursor: pointer;
    transition: all .3s ease-in-out;
    border: 2px solid var(--mark-text-color);
    display: flex;
    align-items: flex-end;
}
.cta-exp:hover{
    background-color: #fff;
}
.exp .cta-exp span{
    margin-left: 1rem;
    font-weight: 500;
}

.exp .box-img-exp{
    width: 100%;
    height: 50%;
    overflow: hidden;
    border-radius: 10px;
}
.exp .title{
    font-weight: 600;
    color: var(--main-text-color);
    margin-bottom: 0;
    font-size: 2.2rem;
    text-decoration: underline 3px var(--mark-text-color);
}
.exp .description{margin-top: 0.7rem;}
.exp .card-exp img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    transition: all .2s;
    display: block;
}
.card-exp:hover img{scale: 1.1;}

footer{
    text-align: center;
    padding: 9rem 1rem;
}
footer .title-footer{
    font-size: 5.8rem;
    font-weight: 600;
    color:var(--main-text-color);
    margin: 0;
}
footer .email-contact{
    margin-top: 0.6rem;
    font-size: 4rem;
    font-weight: 600;
    color: var(--mark-text-color);
}
footer .box-contact{
    justify-content: center;
    display: flex;
    align-items: center;
}
footer .box-copy div{
    gap: 1rem;
    font-size: 1.8rem;
}
footer .copy-active .copyOff{
    display: flex;   
}
footer .copy-off .copyOn{
    display: flex;
    background: #3c3c3c;
}
footer .box-copy{
    margin-left: 2rem;
    position: relative;
    cursor: pointer;
}
footer .copyOff, footer .copyOn{
    position: absolute;
    color: #fff;
    background: black;
    padding: 1rem;
    border-radius: 18px;
    left: 150%;
    bottom: -5px;
    cursor: pointer;
    user-select: none;
    display: none;
}
footer ul{
    display: flex;
    justify-content: center;
    margin-top: 8rem;
}
footer ul li{margin: 0 1rem;}
footer .icon-footer, footer path{transition: all .6s ease-in-out;}
footer ul li:nth-child(1) .icon-footer:hover path {
    fill: var(--mark-text-color) !important;
}

footer ul li:nth-child(2) .icon-footer:hover,
footer ul li:nth-child(3) .icon-footer:hover {
    background: var(--mark-text-color) !important;
}

.skill .input-perc, footer .box-copy, footer ul li, .exp .box-btn, .about-me .cta-profile a{
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}


/**RESPONSIVE**/


 @media (max-width: 1200px) { 
    header{padding: 1.3rem 2.5rem}
    section{
        padding: 4rem 5rem;
    }
}
@media (max-width: 992px) { 
    h1, h2, h3{
        font-size: 3.5rem;
    }
    .subtitle {
        font-size: 2rem;
    }
}
@media (max-width: 922px){
    h1, h2, h3 {
        font-size: 3rem;
    }
}

@media (max-width: 768px) { 
    h1, h2, h3{
        margin: 0 0 2rem 0;
    }
    .about-me{
        grid-template-columns: 1fr;
    }
    .about-me .box-info{padding: 0;}
    .about-me .box-img img{
        width: 70%;
        margin: auto;
    }

    .skill .box-title{
        padding: 0;
        text-align: left;
    }
    .skill .box-point{
        padding: 4rem 0rem;
    }
    .box-point .point-skill:nth-child(1){
        grid-column: 1/2;
        grid-row: 1/2;
    }
    .box-point .point-skill:nth-child(2){
        grid-column: 2/3;
        grid-row: 1/2;
    }
    .box-point .point-skill:nth-child(3){
        grid-column: 3/4;
        grid-row: 1/2;
    }
    .box-point .point-skill p {
        margin-bottom: 0;
    }

    .exp .box-preview-exp{
        grid-template-columns: 1fr;
    }
    .exp .description{
        line-height: 1.5;
    }

    #emailSection p{
        font-size: 2.3rem;
        margin-bottom: 0.5rem;
    }
    footer .email-contact{
        font-size: 3rem;
    }
    footer .copyOff, footer .copyOn{
        position: initial;
    }
    footer .box-contact{
        align-items: center;
        flex-direction: column;
    }
    footer .box-copy{
        margin: 1rem 0 4rem 0;
    }
    .box-second{gap: 4rem;}
}

@media (max-width: 576px) { 
    h1, h2, h3 {
        font-size: 2.1rem;
    }
    .subtitle, .box-point .point-skill p {
        font-size: 1.4rem;
    }
    .skill h3, .skill .box-second h4{
        font-size: 1.5rem !important;
    }
    .box-title {
        padding: 0 0;
    }
    .exp .title{
        font-size: 2rem;
    }

    .skill .box-point{
        grid-template-columns: repeat(2, 1fr);
    }
    .box-point .point-skill:nth-child(1){
        grid-column: 1/2;
        grid-row: 1/2;
    }
    .box-point .point-skill:nth-child(2){
        grid-column: 2/3;
        grid-row: 1/2;
    }
    .box-point .point-skill:nth-child(3){
        grid-column: 1/3;
        grid-row: 2/3;
    }
    .skill .point-skill:nth-child(3) .input-perc{
        margin-left: 25%;
        margin-right: 25%;
    }
    .about-me .box-img{
        padding: 0;
    }
}
@media (max-width: 451px){
    .about-me .cta-profile{
        align-items: center;
        text-align: center;
        justify-content: space-between;
    }
    
    .about-me .cta-profile a{
        padding: 0.5rem 1rem;
        margin-right: 1rem;
    }
    .about-me .box-info:first-child{
        order: 2;
    }
}
@media (max-width: 416px) { 
    .about-me .box-info {
        padding-right: 0;
    }

    .skill .box-point{
        grid-template-columns: repeat(1, 1fr);
        gap: 4rem 0;
    }

    .box-point .point-skill:nth-child(1){
        grid-column: 1/2;
        grid-row: 1/2;
    }
    .box-point .point-skill:nth-child(2){
        grid-column: 1/2;
        grid-row: 2/3;
    }
    .box-point .point-skill:nth-child(3){
        grid-column: 1/3;
        grid-row: 3/3;
    }
   
}


 
 
 
 